<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iniciar-sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Bienvenido
            </ion-card-title>
            <ion-card-subtitle>
              Ingresa tus datos para iniciar sesión
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formulario" (submit)="validarFormulario()">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-input formControlName="nombreUsuario" label="Ingrese su usuario" labelPlacement="floating" fill="outline" type="text"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input formControlName="contrasena" label="Ingrese su contraseña" labelPlacement="floating" fill="outline" type="password"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button role="submit" type="submit" expand="block" [disabled]="cargandoBloqueo">
                      <ion-text *ngIf="!cargandoBloqueo">
                        Iniciar sesión
                      </ion-text>
                      <ion-spinner *ngIf="cargandoBloqueo" name="circular"></ion-spinner>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>