<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-toolbar>
          <ion-title>Cantidad</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="productos">
          <ion-item *ngFor="let producto of productos" >
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" [src]="producto.thumbnail" />
            </ion-avatar>
            <ion-label>{{  producto.title }}</ion-label>
            <ion-label></ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>